version: '3.8'

services:
  db:
    image: postgres:15-alpine
    restart: unless-stopped
    environment:
      - POSTGRES_USER=${USERNAME_DATABASE}
      - POSTGRES_PASSWORD=${PASSWORD_DATABASE}
      - POSTGRES_DB=${DATABASE_NAME}
    volumes:
      - db_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"



volumes:
  db_data:
